{% extends "index.html" %} 
<!-- Exports header and navbar from header.html 
     or any file you want-->
{% block title %}Page Not Found{% endblock %} 
{% block body %} 
  
  <h1>Oops! "I'll continue to run variations on the interface, but you should probably prepare for your guests. I'll notify you if there are any developments."</h1> 
  <a href="{{ url_for('index') }}"><p>Click Here</a>To go to the Home Page</p> 
  
<!-- {{ url_for('index') }} is a var which returns url of index.html-->
{% endblock %} 